<div class="container galleria">
    {{#each photos}}
    <img src="{{urls.regular}}"
        data-description="{{description}}<hr><p class='right-align'>Copyright © 2019<br>Marine Nationale, Tous droits réservés</p>"
        data-title="{{alt_description}}" />
    {{!-- <img src="{{image.url}}" data-description="{{description}}" data-title="{{titre}}" /> --}}
    {{/each}}
</div>