<div class="navbar-fixed">
  <nav class="blue darken-3">
     <div class="nav-wrapper col container s12"> {{!--container --}}
      <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      <a href="/" class="logo">Marine Nationale</a>

      <ul class="right hide-on-med-and-down">
        <li>
          <a class="dropdown-trigger" href="#!" data-activates="organisation_1">Organisation</a>
        </li>
        <li><a href="/missions">Missions</a></li>
        <li><a class="dropdown-trigger" href="#!" data-activates="equipements_1">Equipements</a></li>
        <li>
          <a class="dropdown-trigger" href="#!" data-activates="ressources_1">Ressources Humaines</a>
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-activates="patrimoine_1">Patrimoine</a>
        </li>
        {{!-- <li>Bienvenue {{user.prenoms}}</li> --}}
      </ul>
    </div>
  </nav>
</div>

<!-- SIDE MENU -->
<ul class="side-nav" id="main-menu">
  {{#if user}}
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://res.cloudinary.com/nyf005/image/upload/v1537449933/public/sea.png">
      </div>
      {{#if user.photo.url}}
      <img class="circle" src="{{user.photo.url}}">
      {{else}}
      <img class="circle" src="https://res.cloudinary.com/nyf005/image/upload/v1537449932/public/jdoe.jpg">
      {{/if}}
      <span class="white-text name">{{user.grade}} {{user.nom}} {{user.prenoms}}</span>
      <span class="white-text email">{{user.unite.abreviation}} - {{user.service.nom}}</span>
    </div>
  </li>
  <li class="divider"></li>
  <li class="blue accent-1">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect waves-blue"><i class="fa fa-bars icon_menu"></i>Menu
          <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a class="dropdown-trigger" href="#!" data-activates="organisation"><i class="fa fa-sitemap"></i>Organisation</a>
            </li>
            <li><a href="/missions"><i class="fa fa-anchor"></i> Missions</a></li>
            <li><a class="dropdown-trigger" href="#!" data-activates="equipements"><i class="fa fa-ship"></i>Equipements</a></li>
            <li>
              <a class="dropdown-trigger" href="#!" data-activates="ressources"><i class="fa fa-users"></i>Ressources
                Humaines</a>
            </li>
            <li>
              <a class="dropdown-trigger" href="#!" data-activates="patrimoine"><i class="fa fa-building"></i>Patrimoine</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  <li class="yellow accent-1">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect waves-blue"><i class="fa fa-user icon_menu"></i>Espace membre
          <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a href="/users/edit/{{user.id}}"><i class="fa fa-info"></i> Mes Informations</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-book"></i> Mes Diplômes et Stages</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="divider"></li>
  {{#ifCond user.statut "==" "super_admin"}}
  <li class="orange accent-1">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect waves-blue"><i class="fa fa-user-secret icon_menu"></i>Espace
          Administrateur
          <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li><a class="dropdown-trigger" href="#!" data-activates="personnel"><i class="fa fa-users"></i>
                Gestion du personnel</a></li>
            <li><a class="dropdown-trigger" href="#!" data-activates="grades"><i class="fa fa-bookmark"></i>
                Gestion des grades</a></li>
            <li><a class="dropdown-trigger" href="#!" data-activates="unites"><i class="fa fa-home"></i>
                Gestion des unités</a></li>
            <li><a class="dropdown-trigger" href="#!" data-activates="services"><i class="fa fa-briefcase"></i>
                Gestion des services</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  {{/ifCond}}
  <li class="divider"></li>
  <li class="red darken-1">
    <a class="collapsible-header waves-effect waves-blue" href="/users/logout"><i class="fa fa-sign-out icon_menu"></i>Me
      Déconnecter</a>
  </li>
  {{else}}
  <form action="/users/login" method="POST" class="container section col s12 p6">
    <div class="card-panel orange darken-3 center">ESPACE MEMBRE</div>
    <hr>
    <div class="input-field col s12">
      <i class="material-icons prefix">account_circle</i>
      <input name="mecano" id="mecano" type="number" class="validate">
      <label for="mecano">Mécano</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input name="password" id="password" type="password" class="validate">
      <label for="password">Mot de passe</label>
    </div>
    <button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Me Connecter
      <i class="material-icons right">send</i>
    </button>
  </form>
  <li class="divider"></li>
  <li class="blue accent-1">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header waves-effect waves-blue"><i class="fa fa-bars icon_menu"></i>Menu
          <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
        <div class="collapsible-body">
          <ul>
            <li>
              <a class="dropdown-trigger" href="#!" data-activates="organisation"><i class="fa fa-sitemap"></i>Organisation</a>
            </li>
            <li><a href="/missions"><i class="fa fa-anchor"></i> Missions</a></li>
            <li><a class="dropdown-trigger" href="#!" data-activates="equipements"><i class="fa fa-ship"></i>Equipements</a></li>
            <li>
              <a class="dropdown-trigger" href="#!" data-activates="ressources"><i class="fa fa-users"></i>Ressources
                Humaines</a>
            </li>
            <li>
              <a class="dropdown-trigger" href="#!" data-activates="patrimoine"><i class="fa fa-building"></i>Patrimoine</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  {{/if}}
</ul>

{{!-- Dropdown structure --}}
<ul id="equipements" class="dropdown-content">
  <li><a href="/equipements/coms">Centres Opérationnels de la Marine</a></li>
  <li><a href="/equipements/patrouilleurs">Patrouilleurs</a></li>
  <li><a href="/equipements/embarcations">Embarcations</a></li>
</ul>
<ul id="organisation" class="dropdown-content">
  <li><a href="/organisation/commandement">Commandement</a></li>
  <li><a href="/organisation/unites">Unités</a></li>
  <li><a href="/organisation/soutien">Soutien des unités</a></li>
</ul>
<ul id="patrimoine" class="dropdown-content">
  <li><a href="/patrimoine/histoire">Histoire</a></li>
  <li><a href="/patrimoine/traditions">Traditions</a></li>
  <li><a href="/patrimoine/sport">Sport</a></li>
  <li><a href="/patrimoine/orchestre">Orchestre</a></li>
</ul>
<ul id="ressources" class="dropdown-content">
  <li><a href="/ressources_humaines/recrutement">Recrutement</a></li>
  <li><a href="/ressources_humaines/formation">Formations et Stages</a></li>
  <li><a href="/ressources_humaines/ecole">Ecole</a></li>
</ul>

<ul id="equipements_1" class="dropdown-content">
  <li><a href="/equipements/coms">Centres Opérationnels de la Marine</a></li>
  <li><a href="/equipements/patrouilleurs">Patrouilleurs</a></li>
  <li><a href="/equipements/embarcations">Embarcations</a></li>
</ul>
<ul id="organisation_1" class="dropdown-content">
  <li><a href="/organisation/commandement">Commandement</a></li>
  <li><a href="/organisation/unites">Unités</a></li>
  <li><a href="/organisation/soutien">Soutien des unités</a></li>
</ul>
<ul id="patrimoine_1" class="dropdown-content">
  <li><a href="/patrimoine/histoire">Histoire</a></li>
  <li><a href="/patrimoine/traditions">Traditions</a></li>
  <li><a href="/patrimoine/sport">Sport</a></li>
  <li><a href="/patrimoine/orchestre">Orchestre</a></li>
</ul>
<ul id="ressources_1" class="dropdown-content">
  <li><a href="/ressources_humaines/recrutement">Recrutement</a></li>
  <li><a href="/ressources_humaines/formation">Formations et Stages</a></li>
  <li><a href="/ressources_humaines/ecole">Ecole</a></li>
</ul>


<ul id="personnel" class="dropdown-content">
  <li><a href="/users/add">Ajouter un marin</a></li>
  <li><a href="/users">Voir les marins</a></li>
</ul>
<ul id="grades" class="dropdown-content">
  <li><a href="/ranks/add">Ajouter un grade</a></li>
  <li><a href="/ranks">Voir les grades</a></li>
</ul>
<ul id="unites" class="dropdown-content">
  <li><a href="/unites/add">Ajouter une unité</a></li>
  <li><a href="/unites">Voir les unités</a></li>
</ul>
<ul id="services" class="dropdown-content">
  <li><a href="/services/add">Ajouter un service</a></li>
  <li><a href="/services">Voir les services</a></li>
</ul>