<div class="fixed-action-btn">
  <a href="/ranks/add" class="btn-floating btn-large red">
  <i class="fa fa-plus"></i>
  </a>
</div>
<div class="container">
  <h4>Les Grades</h4>
  {{#if ranks}}
  <table class="responsive-table centered highlight">
    <thead>
      <tr>
        <th>Ordre</th>
        <th>Abréviation</th>
        <th>Intitulé</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each ranks}}
      <tr>
        <td>{{ordre}}</td>
        <td>{{abreviation}}</td>
        <td>{{grade}}</td>
        <td>
          <a class="btn left-align" href="/ranks/edit/{{id}}">
            <i class="fa fa-pencil"></i> Modifier
          </a>
        </td>
        <td>
          <form action="/ranks/delete/{{id}}?_method=DELETE" method="POST" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn red"><i class="fa fa-remove"></i> Supprimer</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>Aucun grade n'a été ajouté pour l'instant.</p>
  {{/if}}
</div>