<div class="container">
  <div class="col s12 m8">
    <div class="card story">
      <div class="card-content info-show">
        <span class="card-title">
          {{actualite.titre}}
          <br>
        </span>
        <br>
        {{#if actualite.image.id}}
        <div class="row valign-wrapper">
          <div class="col m8 s12">
            {{{stripTags actualite.texte}}}
          </div>
          <div class="col m4 s12">
            <img class="materialboxed responsive-img" data-caption="{{actualite.image}}" src="https://res.cloudinary.com/nyf005/image/upload/v1538588712/{{actualite.image.id}}.{{actualite.image.format}}">
          </div>
        </div>
        {{else}}
          {{{stripTags actualite.texte}}}
        {{/if}}
        <br>
      </div>
      <div class="card-action right-align">
        <div class="row">
          <small style="padding-bottom:0px;">
            Publié le {{formatDate actualite.date_publication "Do MMMM YYYY" "fr"}}
          </small>
        </div>
      </div>
    </div>
  </div>
</div>