<div class="row container">
    <div class="card-panel center-align">
        <h5>Promotions</h5>
    </div>
    <hr>

    {{#if users}}
    <div class="input-field col offset-m3 m6 s12">
        <input type="text" placeholder="Rechercher" id="live-search-box" class="live-search-box black-text">
    </div>

    <table id="tableau" class="responsive-table centered highlight">
        <thead>
            <tr>
                <th>Mécano</th>
                <th>Matricule</th>
                <th>Catégorie</th>
                <th>Sous-catégorie</th>
                <th>Grade</th>
                <th>Nom et Prénoms</th>
                <th>Sexe</th>
                <th>Age</th>
                <th>Spécialité</th>
                <th>Unité</th>
                <th class="nosort">Actions</th>
            </tr>
        </thead>
        {{!-- <tfoot>
        <tr>
          <th>Mécano</th>
          <th>Matricule</th>
          <th>Catégorie</th>
          <th>Sous-catégorie</th>
          <th>Grade</th>
          <th>Nom et Prénoms</th>
          <th>Sexe</th>
          <th>Age</th>
          <th>Spécialité</th>
          <th>Unité</th>
          <th></th>
        </tr>
      </tfoot> --}}
        <tbody>
            {{#each users}}
            <tr>
                <td>{{mecano}}</td>
                <td>{{matricule}}</td>
                <td>
                    {{#ifCond grade.categorie "==" "officier"}}
                    Officiers
                    {{/ifCond}}

                    {{#ifCond grade.categorie "==" "o_marinier"}}
                    Officiers Mariniers
                    {{/ifCond}}

                    {{#ifCond grade.categorie "==" "equipage"}}
                    Equipages
                    {{/ifCond}}
                </td>
                <td>
                    {{#ifCond grade.sousCategorie "==" "off_gen"}}
                    Officiers Généraux
                    {{/ifCond}}

                    {{#ifCond grade.sousCategorie "==" "off_sup"}}
                    Officiers Supérieurs
                    {{/ifCond}}

                    {{#ifCond grade.sousCategorie "==" "off_sub"}}
                    Officiers Subalternes
                    {{/ifCond}}

                    {{#ifCond grade.sousCategorie "==" "off_mar_sup"}}
                    Officiers Mariniers Supérieurs
                    {{/ifCond}}

                    {{#ifCond grade.sousCategorie "==" "off_mar_su"}}
                    Officiers Mariniers Subalternes
                    {{/ifCond}}
                </td>
                <td>
                    {{#if promotions}} {{promotions.[0].grade.abreviation}} {{else}} {{grade.abreviation}} {{/if}}
                </td>
                <td>{{nom}} {{prenoms}}</td>
                <td>
                    {{#ifCond genre "==" "masculin"}}
                    Masculin
                    {{/ifCond}}

                    {{#ifCond genre "==" "feminin"}}
                    Féminin
                    {{/ifCond}}
                </td>
                <td>{{getAge naissance.date}}</td>
                <td>Navigateur</td>
                <td> {{#if affectations}}
                    {{affectations.[0].unite.abreviation}}{{#if affectations.[0].service}}/{{affectations.[0].service.abreviation}}{{/if}}
                    {{else}} {{unite.abreviation}}{{#if service}}/{{service.abreviation}}{{/if}} {{/if}} </td>
                <td>
                    {{!-- {{#ifCond ../user.statut "==" "operateur_cmg"}} --}}
                    {{#ifCond ../user.statut "==" "super_admin"}}
                    <a href="/promotions/add/{{_id}}" class="btn waves-effect blue">
                        {{!-- <i class="fa fa-plus"></i> --}}Nouvelle promotion
                    </a>
                    <a href="/promotions/userpromotions/{{_id}}" class="btn waves-effect orange">
                        <i class="fa fa-eye"></i>
                    </a>
                    {{/ifCond}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>Il faut nécessairement que le marin existe dans la Base de Donnée de la Marine avant qu'il lui soit attribué un
        mouvement.</p>
    {{/if}}
</div>