{{#ifCond user.statut "==" "super_admin"}}
<div class="fixed-action-btn">
    <a href="/promotions/add" class="btn-floating btn-large red">
        <i class="fa fa-plus"></i>
    </a>
</div>
{{/ifCond}}
<div class="row container">
    <h4>Promotions de {{user.grade.abreviation}} {{user.nom}} {{user.prenoms}}</h4>
    <hr>
    {{#if promotions}}
    <table class="responsive-table centered highlight">
        <thead>
            <tr>
                <th>Grade</th>
                <th>Date de promotion</th>
                <th class="nosort">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each promotions}}
            <tr>
                <td>{{grade.grade}}</td>
                <td>{{formatDate date "DD/MM/YY" "fr"}}</td>
                <td>
                    <a class="btn waves-effect" href="/promotions/edit/{{id}}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <form class="waves-effect" action="/promotions/delete/{{id}}?_method=DELETE" method="POST"
                        id="delete-form" onclick="return ConfirmDelete();">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn waves-effect red"><i class="fa fa-remove"></i></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>Aucune promotion n'a été ajoutée pour l'instant.</p>
    {{/if}}
</div>