<div class="container">
  <h4>Liste des marins</h4>
  <div class="input-field col m4 s12">
    <input class="live-search-box" type="text" placeholder="Rechercher un marin">
  </div>
  <div class="row">
    {{#each users}}
    {{#if password}}
    <div class="col m4 s12 center live-search-list">
      <div class="truncate bg-card-user hoverable">
        <img src="{{photo.url}}" alt="" class="circle responsive-img">
        <div class="m12 S12">
          <a href="#{{mecano}}" class="center white-text waves-effect waves-light btn modal-trigger">{{grade}}
            {{nom}} {{prenoms}}</a>
          {{#ifCond ../user.id "==" id }}
          <a href="/users/edit/{{id}}" class="btn-floating orange waves-effect waves-light"><i class="fa fa-pencil"></i></a>
          {{/ifCond}}
        </div>
        <hr>
        <!-- Modal Structure -->
        <div id="{{mecano}}" class="modal">
          <div class="modal-content">
            <h4>Informations de {{grade}} {{nom}} {{prenoms}}</h4><hr>
            <div class="col m3 s3 right-align">Unité :</div>
            <div class="col m3 s3 left-align">{{unite.abreviation}}</div>
            <div class="col m3 s3 right-align">Service :</div>
            <div class="col m3 s3 left-align">{{service.abreviation}}</div>
            <div class="col m3 s3 right-align">Matricule :</div>
            <div class="col m3 s3 left-align">{{matricule}}</div>
            <div class="col m3 s3 right-align"> Né le :</div>
            <div class="col m3 s3 left-align">{{formatDate naissance.date "DD/MM/YYYY" "fr"}}</div>
            <div class="col m3 s3 right-align">Nommé le :</div>
            <div class="col m3 s3 left-align">{{formatDate dateNomination "DD/MM/YYYY" "fr"}}</div>
            <div class="col m3 s3 right-align">Dernier Stage :</div>
            <div class="col m3 s3 left-align">Néant</div>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Ok</a>
          </div>
        </div>
        {{#ifCond ../user.statut "==" "super_admin"}}
        <a href="/users/edit-created/{{id}}" class="btn blue left waves-effect waves-light"><i class="fa fa-edit"></i></a>
        <form action="/users/delete/{{id}}?_method=DELETE" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn red right waves-effect waves-light"><i class="fa fa-remove"></i></button>
        </form>
        {{/ifCond}}
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>