{{#ifCond user.statut "==" "operateur_brh"}}
<div class="fixed-action-btn">
  <a href="/users/add" class="btn-floating btn-large red">
    <i class="fa fa-plus"></i>
  </a>
</div>
{{/ifCond}}
{{#ifCond user.statut "==" "super_admin"}}
<div class="fixed-action-btn">
  <a href="/users/add" class="btn-floating btn-large red">
    <i class="fa fa-plus"></i>
  </a>
</div>
{{/ifCond}}


<div class="row container">
  <div class="card-panel center-align">
    <h5>Liste des marins</h5>
  </div>
  <hr>
  {{#if users}}
  <div class="input-field col offset-m3 m6 s12">
    <input type="text" placeholder="Rechercher" id="live-search-box" class="live-search-box black-text">
  </div>

  <table id="tableau" class="responsive-table centered highlight">
    <thead>
      <tr>
        <th>Mécano</th>
        <th>Matricule</th>
        <th>Catégorie</th>
        <th>Sous-catégorie</th>
        <th>Grade</th>
        <th>Nom et Prénoms</th>
        <th>Sexe</th>
        <th>Age</th>
        <th>Spécialité</th>
        <th>Unité</th>
        <th class="nosort">Actions</th>
      </tr>
    </thead>
    {{!-- <tfoot>
        <tr>
          <th>Mécano</th>
          <th>Matricule</th>
          <th>Catégorie</th>
          <th>Sous-catégorie</th>
          <th>Grade</th>
          <th>Nom et Prénoms</th>
          <th>Sexe</th>
          <th>Age</th>
          <th>Spécialité</th>
          <th>Unité</th>
          <th></th>
        </tr>
      </tfoot> --}}
    <tbody>
      {{#each users}}
      <tr>
        <td>{{mecano}}</td>
        <td>{{matricule}}</td>
        <td>
          {{#ifCond grade.categorie "==" "officier"}}
          Officiers
          {{/ifCond}}

          {{#ifCond grade.categorie "==" "o_marinier"}}
          Officiers Mariniers
          {{/ifCond}}

          {{#ifCond grade.categorie "==" "equipage"}}
          Equipages
          {{/ifCond}}
        </td>
        <td>
          {{#ifCond grade.sousCategorie "==" "off_gen"}}
          Officiers Généraux
          {{/ifCond}}

          {{#ifCond grade.sousCategorie "==" "off_sup"}}
          Officiers Supérieurs
          {{/ifCond}}

          {{#ifCond grade.sousCategorie "==" "off_sub"}}
          Officiers Subalternes
          {{/ifCond}}

          {{#ifCond grade.sousCategorie "==" "off_mar_sup"}}
          Officiers Mariniers Supérieurs
          {{/ifCond}}

          {{#ifCond grade.sousCategorie "==" "off_mar_su"}}
          Officiers Mariniers Subalternes
          {{/ifCond}}
        </td>
        <td>{{grade.abreviation}}</td>
        <td>{{nom}} {{prenoms}}</td>
        <td>
          {{#ifCond genre "==" "masculin"}}
          Masculin
          {{/ifCond}}

          {{#ifCond genre "==" "feminin"}}
          Féminin
          {{/ifCond}}
        </td>
        <td>{{getAge naissance.date}}</td>
        <td>Navigateur</td>
        <td>{{unite.abreviation}}{{#if service}}/{{service.abreviation}}{{/if}}</td>
        <td><a href="#{{mecano}}" class="waves-effect btn modal-trigger lime"><i class="fa fa-info"></i></a>
          {{!-- {{#ifCond ../user.statut "==" "operateur_bes"}} --}}
          {{#ifCond ../user.statut "==" "super_admin"}}
          <a href="/users/edit-created/{{id}}" class="btn waves-effect blue darken-2"><i class="fa fa-edit"></i></a>
          <form class="waves-effect waves-red darken-4" action="/users/delete/{{id}}?_method=DELETE" method="POST"
            id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn red waves-effect " onclick="return ConfirmDelete();"><i
                class="fa fa-remove"></i></button>
          </form>
          {{/ifCond}}
          {{#ifCond ../user.statut "==" "operateur_brh"}}
          <a href="/users/edit-created/{{id}}" class="btn orange darken-2 waves-effect"><i class="fa fa-pencil"></i></a>
          <form class="waves-effect waves-red darken-4" action="/users/delete/{{id}}?_method=DELETE" method="POST"
            id="delete-form" onclick="return ConfirmDelete();">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn red waves-effect"><i class="fa fa-remove"></i></button>
          </form>
          {{/ifCond}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>Aucun marin dans la base de données</p>
  {{/if}}
</div>