<div class="container">
  <h4>Liste des marins</h4>
  <div class="input-field col m4 s12">
    <input class="live-search-box" type="text" placeholder="Rechercher un marin">
  </div>
  <div class="row">
    {{#each users}}
    {{#if password}}
    <div class="col s12 m4 live-search-list">
      <div class="card-panel teal hoverable">
        {{#ifCond ../user.id "==" id }}
        <a href="/users/edit/{{id}}" class="btn-floating right orange"><i class="fa fa-pencil"></i></a>
        {{/ifCond}}
        <span class="white-text">
          <div class="chip">
            <img src="{{photo.url}}"> <a href="#">{{grade}} {{nom}} {{prenoms}}</a>
          </div>
          <hr>
            <div class="row mb-0">
              <div class="col m6 s6 right-align">Unité :</div>
              <div class="col m6 s6">{{unite.abreviation}}</div>
            </div>
            <div class="row mb-0">
              <div class="col m6 s6 right-align">Service :</div>
              <div class="col m6 s6">{{service.abreviation}}</div>
            </div>
            <div class="row mb-0">
              <div class="col m6 s6 right-align">Matricule :</div>
              <div class="col m6 s6">{{matricule}}</div>
            </div>
            <div class="row mb-0">
              <div class="col m6 s6 right-align"> Né le :</div>
              <div class="col m6 s6">{{formatDate naissance.date "DD/MM/YYYY" "fr"}}</div>
            </div>
            <div class="row mb-0">
              <div class="col m6 s6 right-align">Nommé le :</div>
              <div class="col m6 s6">{{formatDate dateNomination "DD/MM/YYYY" "fr"}}</div>
            </div>
            <div class="row mb-0">
              <div class="col m6 s6 right-align">Dernier Stage :</div>
              <div class="col m6 s6">Néant</div>
            </div>
             
        </span>
        {{#ifCond ../user.statut "==" "super_admin"}}
        <a href="/users/edit-created/{{id}}" class="btn-floating blue left"><i class="fa fa-edit"></i></a>
        <form action="/users/delete/{{id}}?_method=DELETE" method="POST" id="delete-form">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn-floating red right"><i class="fa fa-remove"></i></button>
        </form>
        {{/ifCond}}
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>