{{#ifCond user.statut "==" "super_admin"}}
<div class="fixed-action-btn">
    <a href="/movements/add" class="btn-floating btn-large red">
        <i class="fa fa-plus"></i>
    </a>
</div>
{{/ifCond}}
<div class="row container">
    <h4>Mouvements de {{user.grade.abreviation}} {{user.nom}} {{user.prenoms}}</h4>
    <hr>
    {{#if movements}}
    <table class="responsive-table centered highlight">
        <thead>
            <tr>
                <th>Période</th>
                <th>Type</th>
                <th>Pays</th>
                <th>Objet</th>
                <th>Copie Scannée</th>
                <th class="nosort">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each movements}}
            <tr>
                <td>{{formatDate date_depart "DD/MM/YY" "fr"}} - {{formatDate date_fin "DD/MM/YY" "fr"}}</td>
                <td>{{type}}</td>
                <td>{{pays}}</td>
                <td>{{objet}}</td>
                <td>
                    <img class="materialboxed responsive-img thumb" data-caption="Justificatif {{reference}}"
                        src="https://res.cloudinary.com/nyf005/image/upload/v1538588712/{{scan_justificatif.id}}.{{scan_justificatif.format}}">
                </td>
                <td>
                    <a class="btn waves-effect" href="/movements/edit/{{id}}">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <form class="waves-effect" action="/movements/delete/{{id}}?_method=DELETE" method="POST" id="delete-form"
                        onclick="return ConfirmDelete();">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn waves-effect red"><i class="fa fa-remove"></i></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>Aucun mouvement n'a été ajouté pour l'instant.</p>
    {{/if}}
</div>